.marginBot {
    margin-bottom: -10rem;
}
 .btn-primary {
     background-color: rgba(41, 41, 53, 0.4)!important;
     border: 2px solid white!important;

 }

 .btn-primary:hover {
    background-color: rgba(41, 41, 53, 0)!important;
    border: 2px solid white!important;
}